{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'custom-beacons-slider.css' | asset_url | stylesheet_tag }}
     <script src="{{ 'custom-beacons-slider.js' | asset_url }}" defer="defer"></script>
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-landing beacons_slider section-{{ section.id }}-padding">
  <div class="page-width">
    {%- unless section.settings.title == blank -%}
      <div class="multicolumn__title main_title-led {{ section.settings.desktop_content_alignment }}">
        <{{ section.settings.heading_size }} class="inline-richtext">
          {{ section.settings.title }}
        </{{ section.settings.heading_size }}>
        {% if section.settings.text != blank %}
          <div class="rte">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>
    {%- endunless -%}
    <div class="grid custom_grid-led desktop_img_d {{ section.settings.desktop_content_alignment }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'block' -%}
            {% if block.settings.image_one != blank %}
              <div class="item_led" data-index="{{ block.settings.text_one | strip_html | handleize }}">
                <div class="main_slider-flex">
                  <div class="main_img-slide ">
                    <div
                      class="item-img-led"
                    >
                      <div
                        class="media_led"
          a              style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_one.aspect_ratio | times: 100 }}%;"
                      >
                        {% if block.settings.image_one != blank %}
                          <img
                            class="main_img"
                            src="{{ block.settings.image_one | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                        {% if block.settings.image_one_hover != blank %}
                          <img
                            class="hover_img"
                            src="{{ block.settings.image_one_hover | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                      </div>
                    </div>
                    <div
                      class="item-img-led"
                    >
                      <div
                        class="media_led"
                        style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_two.aspect_ratio | times: 100 }}%;"
                      >
                        {% if block.settings.image_two != blank %}
                          <img
                            class="main_img"
                            src="{{ block.settings.image_two | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                        {% if block.settings.image_two_hover != blank %}
                          <img
                            class="hover_img"
                            src="{{ block.settings.image_two_hover | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                      </div>
                    </div>
                    <div
                      class="item-img-led"
                    >
                      <div
                        class="media_led"
                        style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_three.aspect_ratio | times: 100 }}%;"
                      >
                        {% if block.settings.image_three != blank %}
                          <img
                            class="main_img"
                            src="{{ block.settings.image_three | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                        {% if block.settings.image_three_hover != blank %}
                          <img
                            class="hover_img"
                            src="{{ block.settings.image_three_hover | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                      </div>
                    </div>
                    <div
                      class="item-img-led"
                    >
                      <div
                        class="media_led"
                        style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_four.aspect_ratio | times: 100 }}%;"
                      >
                        {% if block.settings.image_four != blank %}
                          <img
                            class="main_img"
                            src="{{ block.settings.image_four | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                        {% if block.settings.image_four_hover != blank %}
                          <img
                            class="hover_img"
                            src="{{ block.settings.image_four_hover | img_url: 'master' }}"
                            alt="{{ shop.name }}"
                          >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="thumnil_slider">
                    <div
                      class="item-img-led"
                    >
                      {% if block.settings.image_one != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_one | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_one_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_one_hover | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                    <div
                      class="item-img-led"
                    >
                      {% if block.settings.image_two != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_two | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_two_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_two_hover | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                    <div
                      class="item-img-led"
                    >
                      {% if block.settings.image_three != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_three | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_three_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_three_hover | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                    <div
                      class="item-img-led"
                      style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_four.aspect_ratio | times: 100 }}%;"
                    >
                      {% if block.settings.image_four != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_four | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_four_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_four_hover | img_url: '100x' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="item-ledContent">
                  <div class="item_text">
                    {% if block.settings.text_sub_heading != blank %}
                      <div>{{ block.settings.text_sub_heading }}</div>
                    {% endif %}
                  </div>

                  <div class="label_led">
                    <input
                      type="radio"
                      id="one-{{ forloop.index }}"
                      {% if forloop.first %}
                        checked
                      {% endif %}
                      name="led_text"
                      value="{{ block.settings.text_one | strip_html | handleize }}"
                    >
                    <label for="one-{{ forloop.index }}"></label>
                  </div>
                </div>
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>

    <div class="grid custom_grid-led mobile_show {{ section.settings.desktop_content_alignment }}">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'block' -%}
            <div class="item_led" data-index="{{ block.settings.text_one | strip_html | handleize }}">
              <div class="main_slider-flex">
                <div class="main_img-slide ">
                  <div
                    class="item-img-led"
                  >
                    <div
                      class="media_led"
                      style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_one.aspect_ratio | times: 100 }}%;"
                    >
                      {% if block.settings.image_one != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_one | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_one_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_one_hover | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                  </div>
                  <div
                    class="item-img-led"
                  >
                    <div
                      class="media_led"
                      style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_two.aspect_ratio | times: 100 }}%;"
                    >
                      {% if block.settings.image_two != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_two | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_two_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_two_hover | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                  </div>
                  <div
                    class="item-img-led"
                  >
                    <div
                      class="media_led"
                      style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_three.aspect_ratio | times: 100 }}%;"
                    >
                      {% if block.settings.image_three != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_three | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_three_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_three_hover | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                  </div>
                  <div
                    class="item-img-led"
                  >
                    <div
                      class="media_led"
                      style="padding-bottom: {{ 0.5 | divided_by: block.settings.image_four.aspect_ratio | times: 100 }}%;"
                    >
                      {% if block.settings.image_four != blank %}
                        <img
                          class="main_img"
                          src="{{ block.settings.image_four | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                      {% if block.settings.image_four_hover != blank %}
                        <img
                          class="hover_img"
                          src="{{ block.settings.image_four_hover | img_url: 'master' }}"
                          alt="{{ shop.name }}"
                        >
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="thumnil_slider">
                  <div
                    class="item-img-led"
                  >
                    {% if block.settings.image_one != blank %}
                      <img
                        class="main_img"
                        src="{{ block.settings.image_one | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                    {% if block.settings.image_one_hover != blank %}
                      <img
                        class="hover_img"
                        src="{{ block.settings.image_one_hover | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                  </div>
                  <div
                    class="item-img-led"
                  >
                    {% if block.settings.image_two != blank %}
                      <img
                        class="main_img"
                        src="{{ block.settings.image_two | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                    {% if block.settings.image_two_hover != blank %}
                      <img
                        class="hover_img"
                        src="{{ block.settings.image_two_hover | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                  </div>
                  <div
                    class="item-img-led"
                  >
                    {% if block.settings.image_three != blank %}
                      <img
                        class="main_img"
                        src="{{ block.settings.image_three | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                    {% if block.settings.image_three_hover != blank %}
                      <img
                        class="hover_img"
                        src="{{ block.settings.image_three_hover | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                  </div>
                  <div
                    class="item-img-led"
                  >
                    {% if block.settings.image_four != blank %}
                      <img
                        class="main_img"
                        src="{{ block.settings.image_four | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                    {% if block.settings.image_four_hover != blank %}
                      <img
                        class="hover_img"
                        src="{{ block.settings.image_four_hover | img_url: '100x' }}"
                        alt="{{ shop.name }}"
                      >
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="item-ledContent">
                <div class="item_text">
                  {% if block.settings.text_sub_heading != blank %}
                    <div>{{ block.settings.text_sub_heading }}</div>
                  {% endif %}
                </div>

                <div class="label_led">
                  <input
                    type="radio"
                    id="onet-{{ forloop.index }}"
                    {% if forloop.first %}
                      checked
                    {% endif %}
                    name="led_textm"
                    value="{{ block.settings.text_one | strip_html | handleize }}"
                  >
                  <label for="onet-{{ forloop.index }}"></label>
                </div>
              </div>
            </div>

          {%- when 'heading' -%}
            <div class="custom_h" data-index="{{  block.settings.subhead | strip_html | handleize }}">
              {%- unless block.settings.heading == blank -%}
                <div
                  class="multicolumn__title  custom_title-text {{ section.settings.desktop_content_alignment }}"
                  data-attr="{{ block.settings.subhead | strip_html | handleize }}"
                >
                  <h3 class="inline-richtext">
                    {{ block.settings.heading }}
                  </h3>
                  {% if block.settings.content_one != blank %}
                    <div class="rte">
                      {{ block.settings.content_one }}
                    </div>
                  {% endif %}
                </div>
              {%- endunless -%}
            </div>

          {%- when 'column' -%}
            <div class="led_item led-{{ forloop.index }}" data-title="{{ block.settings.sub_title | handleize }}">
             {% comment %}
               <div class="led_inline">
                {{ block.settings.inline_text }}
              </div>
             {% endcomment %} 
              {% if block.settings.image_series != blank or block.settings.image_par != blank %}
                <div class="led_grid-img sml">
                            <div class="led_grid-img-text">
                      
                      <div class="led_inline">
                  {{ block.settings.inline_text }}
                </div>
                    <div class="led_series">
                      <img src="{{ block.settings.image_series | img_url: 'master' }}" alt="{{ shop.name }}">
                      <span>{{ block.settings.title }}</span>
                    </div>
                    </div>
                    {% if block.settings.image_par != blank %}
                      <div class="led_par">
                        <img src="{{ block.settings.image_par | img_url: 'master' }}" alt="{{ shop.name }}">
                        {% if block.settings.image_par2 != blank %}
                        <img src="{{ block.settings.image_par2 | img_url: 'master' }}" alt="{{ shop.name }}">
                          {% endif %}
                      </div>
                    {% endif %}
                </div>
              {% endif %}
              <div class="led_heading">
                {% if block.settings.heading != blank %}
                <h4>{{ block.settings.heading }}</h4>
                {% endif %}
              </div>
              {% if block.settings.image != blank %}
                <div class="led_main-img">
                  <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ shop.name }}">
                </div>
              {% endif %}
              {% if block.settings.image2 != blank %}
                <div class="led_main-img">
                  <img src="{{ block.settings.image2 | img_url: 'master' }}" alt="{{ shop.name }}">
                </div>
              {% endif %}
              <div class="led_content">
                <div class="rte">
                  {{ block.settings.content }}
                  <div class="heading_titlecontent">   {{ block.settings.heading_titlecontent }} </div>
                  <div class="heading_subcontent">{{ block.settings.heading_subcontent }}</div>
                  <div class="approvedcontent">  {{ block.settings.approvedcontent }} </div>
                  <div class="partNumbercontent">  {{ block.settings.partNumbercontent }} </div>
                </div>
              </div>
              <div class="led_button">
                <a href="{{ block.settings.button_link }}" class="button btn-custom  button--primary">
                  <span>{{ block.settings.button_label }}</span>
                  <span class="plus_icon">
                    {{- 'icon-plus.svg' | inline_asset_content -}}
                  </span>
                </a>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>

    <div class="custom_titles_parents_head desktop_img_d">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            {%- unless block.settings.heading == blank -%}
              <div
                class="multicolumn__title  custom_title-text {{ section.settings.desktop_content_alignment }}"
                data-attr="{{ block.settings.subhead | strip_html | handleize }}"
              >
                <h3 class="inline-richtext">
                  {{ block.settings.heading }}
                </h3>
                {% if block.settings.content_one != blank %}
                  <div class="rte">
                    {{ block.settings.content_one }}
                  </div>
                {% endif %}
              </div>
            {%- endunless -%}
        {% endcase %}
      {% endfor %}
    </div>
    <div class="for_big_screen grid_custom">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'column' -%}
            <div class="led_item led-{{ forloop.index }}" data-title="{{ block.settings.sub_title | handleize }}">
              <div class="led_grid-flex">
              
                {% if block.settings.image_series != blank or block.settings.image_par != blank %}
                  <div class="led_grid-img big">
                    <div class="led_grid-img-text">
                      
                      <div class="led_inline">
                  {{ block.settings.inline_text }}
                </div>
                    <div class="led_series">
                      <img src="{{ block.settings.image_series | img_url: 'master' }}" alt="{{ shop.name }}">
                      <span>{{ block.settings.title }}</span>
                    </div>
                    </div>
                    {% if block.settings.image_par != blank %}
                      <div class="led_par">
                        <img src="{{ block.settings.image_par | img_url: 'master' }}" alt="{{ shop.name }}">
                        {% if block.settings.image_par2 != blank %}
                        <img src="{{ block.settings.image_par2 | img_url: 'master' }}" alt="{{ shop.name }}">
                          {% endif %}
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                <div class="led_heading">
                  <h4>{{ block.settings.heading }}</h4>
                </div>
                {% if block.settings.image != blank %}
                  <div class="led_main-img">
                    <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ shop.name }}">
                  </div>
                {% endif %}
                {% if block.settings.image2 != blank %}
                  <div class="led_main-img">
                    <img src="{{ block.settings.image2 | img_url: 'master' }}" alt="{{ shop.name }}">
                  </div>
                {% endif %}
                <div class="led_content">
                  <div class="rte">
                    {{ block.settings.content }}

                    <div class="heading_titlecontent">   {{ block.settings.heading_titlecontent }} </div>
                    <div class="heading_subcontent">{{ block.settings.heading_subcontent }}</div>
                    <div class="approvedcontent">  {{ block.settings.approvedcontent }} </div>
                    <div class="partNumbercontent">   {{ block.settings.partNumbercontent }} </div>
                  </div>
                </div>
                <div class="led_button">
                  <a href="{{ block.settings.button_link }}" class="button btn-custom  button--primary">
                    <span>{{ block.settings.button_label }}</span>
                    <span class="plus_icon">
                      {{- 'icon-plus.svg' | inline_asset_content -}}
                    </span>
                  </a>
                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Beacons Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
       {
      "type": "richtext",
      "id": "text_sub_heading",
      "label": " sub Text"
    },
        {
      "type": "richtext",
      "id": "text_sub_heading2",
      "label": " sub Text 2"
    },
    {
      "type": "image_picker",
      "id": "img_one",
      "label": "Image One"
    },
    {
      "type": "image_picker",
      "id": "img_hover-one",
      "label": "Image hover One"
    },
    {
      "type": "richtext",
      "id": "text_one",
      "label": "Text One"
    },
    {
      "type": "image_picker",
      "id": "img_two",
      "label": "Image Two"
    },
    {
      "type": "image_picker",
      "id": "img_hover-two",
      "label": "Image hover Two"
    },
    {
      "type": "richtext",
      "id": "text_two",
      "label": "Text Two"
    },
    {
      "type": "image_picker",
      "id": "img_three",
      "label": "Image Three"
    },
    {
      "type": "image_picker",
      "id": "img_hover-three",
      "label": "Image hover Three"
    },
    {
      "type": "richtext",
      "id": "text_three",
      "label": "Text Three"
    },
     {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Image",
      "settings": [
        {
          "type": "text",
          "id": "text_one",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text_sub_heading",
          "label": "Content"
        },
        {
          "type": "image_picker",
          "id": "image_one",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_one_hover",
          "label": "Hover Image"
        },
        {
          "type": "image_picker",
          "id": "image_two",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_two_hover",
          "label": "Hover Image"
        },
         {
          "type": "image_picker",
          "id": "image_three",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_three_hover",
          "label": "Hover Image"
        },
         {
          "type": "image_picker",
          "id": "image_four",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_four_hover",
          "label": "Hover Image"
        },
      ]
    },
    {
      "type": "heading",
      "name": "heading",
      "settings": [
        {
          "type": "text",
          "id": "subhead",
          "label": "Sub heading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content_one",
          "label": "Content"
        }
      ]
    },
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub title"
        },
        {
          "type": "richtext",
          "id": "inline_text",
          "label": "Inline Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image_series",
          "label": "Image Series"
        },
        {
          "type": "image_picker",
          "id": "image_par",
          "label": "Image icon"
        },
        {
          "type": "image_picker",
          "id": "image_par2",
          "label": "Image icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image second"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "html",
          "id": "heading_titlecontent",
          "label": "Heading Title"
        },
        {
          "type": "html",
          "id": "heading_subcontent",
          "label": "Heading Subtitle Content"
        },
        {
          "type": "html",
          "id": "approvedcontent",
          "label": "Approved Content"
        },
        {
          "type": "html",
          "id": "partNumbercontent",
          "label": "Part Number Content"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Beacons Slider"
    }
  ]
}
{% endschema %}
