{{ 'fixed-banner-image.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.video.alt | default: section.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

  if section.settings.video != null
    assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
    if ratio_diff < 0.01 and ratio_diff > 0
      assign fix_ratio = true
    endif
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
  endif
-%}
      
<div class="fixed-banner-image" style="background-image: url({% if section.settings.back_img != blank %}{{ section.settings.back_img | img_url: 'master' }}{% endif %});">
  <div class="page-width">
    {% if section.settings.heading != blank %}
      <div class="fixed-banner-heading">
        {{ section.settings.heading }}
      </div>
    {% endif %}
    <div class="{%- if section.settings.video == null and section.settings.video_url == null -%} fixed-banner-wrapper {% else %} fixed-banner-row {% endif %}">
      <div class="fixed-banner-left-column">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'image' %}
              {% if block.settings.image != blank %}
                <div class="side-image-fixed">
                  <img
                    src="{{ block.settings.image | img_url: 'master' }}"
                    alt="{{ block.settings.image.alt }}"
                  >
                </div>
              {% endif %}
            {% when 'button' %}
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                      {% if template.suffix == 'incandescent-bulb-cross' %}target="_blank"{% endif %}
                    {% endif %}
                    class="button btn-custom{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    <span>{{- block.settings.button_label | escape -}}</span>
                    <span class="icon-plus">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 10 10">
                        <path fill="currentColor" fill-rule="evenodd" d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z" clip-rule="evenodd"></path>
                      </svg>
                    </span>
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                      {% if template.suffix == 'incandescent-bulb-cross' %}target="_blank"{% endif %}
                    {% endif %}
                    class="
                                                                  button btn-custom{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}
                    "
                  >
                    <span>{{- block.settings.button_label_2 | escape -}}</span>
                    <span class="icon-plus">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 10 10">
                        <path fill="currentColor" fill-rule="evenodd" d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z" clip-rule="evenodd"></path>
                      </svg>
                    </span>
                  </a>
                {%- endif -%}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      {%- if section.settings.video != null or section.settings.video_url != null -%}
      <div class="fixed-banner-right-column">
        <div class="fixed-banner-video">
          {%- if section.settings.video == null and section.settings.video_url != null -%}
            {%- liquid
              assign loop = ''
              if section.settings.enable_video_looping
                assign loop = '&loop=1&playlist=' | append: video_id
              endif
            -%}
            {%- if section.settings.video_url.type == 'youtube' -%}
              <iframe
                src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                class="js-youtube"
                allow="autoplay; encrypted-media"
                allowfullscreen
                title="{{ section.settings.description | escape }}"
              ></iframe>
            {%- else -%}
              <iframe
                src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                class="js-vimeo"
                allow="autoplay; encrypted-media"
                allowfullscreen
                title="{{ section.settings.description | escape }}"
              ></iframe>
            {%- endif -%}
          {%- else -%}
            {{
              section.settings.video
              | video_tag:
                image_size: '1100x',
                autoplay: true,
                loop: section.settings.enable_video_looping,
                controls: true,
                muted: true
            }}
          {%- endif -%}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Fixed banner image",
  "class":"custom-fixed-banner-image",
  "settings": [
    {
      "type":"image_picker",
      "id":"back_img",
      "label":"Background Image"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video.settings.video.label"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.header__2.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.video.settings.paragraph.content"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
  ],
  "blocks": [
    {
      "type": "image",
      "name":"Image",
      "settings": [
        {
        "type": "image_picker",
        "id":"image",
        "label": "Image"
      }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Fixed banner image"
    }
  ]
}
{% endschema %}
