{% style %}
  .bg-color-{{ section.id }}{
    background-color: {{ section.settings.bg-color }};
  }
   .scrolling-text--{{ section.id }} {
     --move-speed: {{ section.settings.speed }}s;
   }
   .dynamic-scrolling .scrolling-text__inner {
     display:flex;
     align-items: center;
     padding: 0px;
   }
  @keyframes marques{
        0% {
          left: 0;
      }
      100% {
          left: -100%;
      }
    }
    .marquee-image {
      display: flex;
      gap : {{ section.settings.marquee_space }}px;
      align-items: center;
  }
   .dynamic-scrolling {
      overflow: hidden;
  } 
     .itg_marquee .scrolling-text__inner {
      animation: initial!important;
      position: relative;
      width: 400%;
      height: 100px;
      display:block;
  }
  .itg-2024-great-alaska-aviation-gathering .itg_marquee .scrolling-text__inner, 
  .itg-2024-northwest-aviation-conference-trade-show .itg_marquee .scrolling-text__inner,
  .itg-2024-aero-friedrichshafen .itg_marquee .scrolling-text__inner,
  .itg-aopa-aviator-showcase-spring-2021 .itg_marquee .scrolling-text__inner{
     height: 200px;
  }
  .itg_marquee .scrolling-text__inner .scrolling_content_main{
      display: flex;
      align-items: center;
      gap : {{ section.settings.marquee_space }}px;
      padding: 0px;
      position: absolute;
      top: 0;
      width: 1000%;
      padding: 10px 0;
      animation: 76s linear 0s infinite normal none running marques, 76s linear 0s infinite normal none running marques;
      height: 100%;
  }

   @media screen and (max-width: 768px){
     .bg-color-{{ section.id }} {
       padding-top: {{ section.settings.mob-padding-top }}px;
       padding-bottom: {{ section.settings.mob-padding-bottom }}px;
     }
     .marquee-item {
       font-size: var(--mob-text-size);
      }
      .marquee-image, .itg_marquee .scrolling-text__inner .scrolling_content_main {
        gap : {{ section.settings.mob_marquee_space }}px;
     }
   }
   @media screen and (min-width: 768px){
     .bg-color-{{ section.id }} {
       padding-top: {{ section.settings.padding-top }}px;
       padding-bottom: {{ section.settings.padding-bottom }}px;
     }
   }
{% endstyle %}
<div
  class="color-{{ section.settings.color_scheme }} itg_marquee scrolling-text scrolling-text--{{ section.id }} bg-color-{{ section.id }}"
  {% comment %}style="--move-speed: {{ section.settings.speed }}s;"{% endcomment %}
>
  <div
    class="scrolling-text__inner"
    aria-hidden="true"
    tabindex="0"
  >
   <div class="scrolling_content_main">
    {% for i in (1..35) %}
       <div class="marquee-image">      
            {% for block in section.blocks %}
              {% if block.settings.image != blank %}
                <div class="marquee-item">
                <img src="{{ block.settings.image | img_url:'master'}}" alt="{{ block.settings.image.alt }}" width="" height="">
                </div>
                {% endif %}
              {% if block.settings.image2 !=blank %}
                 <div class="marquee-item">
                  <img src="{{ block.settings.image2 | img_url:'master'}}" alt="{{ block.settings.image2.alt }}" width="" height="">
                 </div>
              {% endif %}
              {% if block.settings.image3 !=blank %}
                 <div class="marquee-item">
                  <img src="{{ block.settings.image3 | img_url:'master'}}" alt="{{ block.settings.image3.alt }}" width="" height="">
                 </div>
              {% endif %}
              {% if block.settings.image4 !=blank %}
                 <div class="marquee-item">
                  <img src="{{ block.settings.image4 | img_url:'master'}}" alt="{{ block.settings.image4.alt }}" width="" height="">
                 </div>
              {% endif %}
              {% if block.settings.image5 !=blank %}
                 <div class="marquee-item">
                  <img src="{{ block.settings.image5 | img_url:'master'}}" alt="{{ block.settings.image5.alt }}" width="" height="">
                 </div>
              {% endif %}
            {% endfor %}
        </div>      
    {% endfor %}
      </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var marquee = document.querySelector('.scrolling_content_main');

    marquee.addEventListener('mouseover', function () {
      marquee.style.animationPlayState = 'paused';
    });

    marquee.addEventListener('mouseout', function () {
      marquee.style.animationPlayState = 'running';
    });
  });
</script>
{% schema %}
{
  "name": "Dynamic Marquee",
  "class": "dynamic-scrolling",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "marquee_space",
      "label": "Space Between Items (px)",
      "default": 135,
      "min": 50,
      "max": 300,
      "step": 2.5
    },
    {
      "type": "range",
      "id": "mob_marquee_space",
      "label": "Space Between Mobile Items (px)",
      "default": 135,
      "min": 50,
      "max": 300,
      "step": 2.5
    },
    {
      "type": "header",
      "content": "Manage Padding"
    },
    {
      "type": "range",
      "id": "padding-top",
      "default": 20,
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding Top"
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "default": 20,
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding Bottom"
    },
    {
      "type": "header",
      "content": "Manage Padding Mobile"
    },
    {
      "type": "range",
      "id": "mob-padding-top",
      "default": 20,
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding Top"
    },
    {
      "type": "range",
      "id": "mob-padding-bottom",
      "default": 20,
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "Padding Bottom"
    }
  ],
  "blocks": [
    {
      "type": "marquee_item",
      "name": "Marquee Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Dynamic Marquee",
      "blocks": [
        {
          "type": "marquee_item"
        }
      ]
    }
  ]
}
{% endschema %}

